@media (max-width:1024px)
{
	.b
	{
		font-size:15px !important;
       
	}
}

@media (max-width:399px)
{
	.b
	{
		font-size:10px !important;
       
	}
}
@media (max-width:299px)
{
	.b
	{
		font-size:8px !important;
       
	}
}
.navbar
{
	background:#900C3F !important; 
   
}

.navbar-brand
{
	background:white;
	color:#900C3F!important;
	padding:0px 20px 0px 20px;
	border-radius:20px;
	border:2px solid;
    /*margin-right: 580px;*/
    margin-left:10px;
    font-size:15px;

}
/*.menu li:hover
{
  background:#FFFFF7;
}
.menu a:hover
{
	color:#900C3F !important;
	
}*/
@media (max-width:1024px)
{
	.menu li
	{
		text-align:center;
	}
}
@media (max-width:425px)
{
	.navbar-toggler
	{
		font-size:8px;
	}
}
.navbar-toggler
{
	margin-right:10px;
}



.c:after
{
  content: '<';
  font-size:35px;
  color: #900C3F;
}

.d:after {
  content: '>';
  font-size:35px;
  color: #900C3F;
}

.carousel-indicators  [data-bs-target]{
box-sizing: content-box;
flex: 0 1 auto;
width: 30px;
height: 3px;
padding: 0;
margin-right: 3px;
margin-left: 3px;
text-indent: -999px;
cursor: pointer;
background-color: #900C3F;
background-clip: padding-box;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
transition: opacity .6s ease;
}

@media (max-width:600px)
{
   .carousel-inner img
   {
   	 height: 275px;
   }
}
.btn2
{
   background:white;
   color:#900C3F !important;
   border-radius: 20px;
   margin-right:30px;
}
.navbar-toggler
{
	float:left !important;
}
.heading
{
	color:#900C3F;
	font-weight:600;
	text-shadow: 2px 2px 4px;
}
.heading2
{
	color:#900C3F;
	font-weight:600;
	
}
.heading1
	{
		font-size:50px;
	}
@media (max-width:300px)
{
	.heading1
	{
		font-size:35px;
	}
}

.footer
{
	color:white;
	background:#900C3F; 

}
.footer h3
{
	background:white;
	color:#900C3F;
	padding:5px;
	text-align:center;
	border-radius:50px;
	font-weight:500;
	width:250px;
	font-size:20px;
}
@media (max-width: 500px)
{
	.footer h3
	{
		width:200px;
	}
}
.footer ul
{
	list-style:none;
	font-size:20px;
}
.footer li
{
	font-size:13px;
}
.headimg
{
	width:500px; 
	height:400px;
}
@media (max-width:500px)
{
	.headimg
{
	width:250px; 
	height:300px;
}
}
@media (max-width:300px)
{
	.headimg
{
	width:200px; 
	height:300px;
}
}
@media(max-width:800px)
{
.footerheading
{
	text-align: center;
}
}


.headline
{
	box-shadow: 0 10px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19) !important;
	border-radius:20px;
	background:#900C3F;
	color:white;
	font-weight:bold;
}
.headline
	{
		width:100%;


	}
@media (max-width: 780px)
{
	.headline
	{
		width:50%;


	}
}

.head 
{
	border:1px solid #900C3F;
	 padding-right:10px;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19) !important;
	 border-radius:150px;
	 width:100%;
	 height:200px;
}


.head:hover
{
 box-shadow:4px 4px 10px  #900C3F;

}


@media and(max-width:600px)
{
	.headrow
	{
		width:50%;
		justify-content: center;
	}
}
.offer
{
	position: relative;
    top: 80px;
    left: 103px;
    font-weight: bold;
}
@media (max-width:400px)
{
	.offer
{
	left:30px;
}
}
.bgimg
{
	background-image:url(../img/joelvalve-GRPbdOtvDSY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:
	height:400px;
	background-attachment:fixed;
	
}



@media (max-width:770px)
{
	.head 
	{
		width:50%;

		}
}
.icon
{
	border:2px solid #900C3F;
	border-top-right-radius:25px;
	border-top-left-radius:25px;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	margin-right:20px;
    margin-top:10px;
  
   padding:0px;
}

.icon2
{
	background:#900C3F;
	color:white;
	width:100%;
	height:40px;
	border-top-right-radius:20px;
	border-top-left-radius:20px;
}
@media(max-width:770px)
{
.icon
{
	width:50%;
	text-align: center;
}
}
.bookimg
{
	background-image: url(../img/images.jpg);
	background-repeat: no-repeat;
}
@media (max-width:990px)
{
  .icon
{
  margin-left:85px;
  margin-right:20px;
   margin-top:10px;
}
}
@media (max-width:780px)
{
  .icon
{
  margin-left:180px;
  margin-right:20px;
   margin-top:10px;
}
}
@media (max-width:750px)
{
  .icon
{
  margin-left:140px;
  margin-right:20px;
   margin-top:10px;
}
}
@media (max-width:420px)
{
  .icon
{
  margin-left:100px;
  margin-right:20px;
   margin-top:10px;
}
}
@media (max-width:320px)
{
  .icon
{
  margin-left:90px;
  margin-right:20px;
   margin-top:10px;
}
}
@media (max-width:250px)
{
  .icon
{
  margin-left:70px;
  margin-right:20px;
   margin-top:10px;
}
}
.sitems
{
	

	 font-size:15px;
	 text-align: center;
	
	 width:200px;
	 height: 150px;
	 border-bottom-right-radius:50px;
     font-family: 'Mochiy Pop One', sans-serif;
     box-shadow: 0 10px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
       margin-right:19px;
       transform: width,height;
       transition-duration: 1s;
        margin-left:auto;
      margin-bottom: auto;
    
   }
  
   @media (max-width: 437px)
   {
   .sitems
   {
      margin-top:20pc;
      margin-left: auto !important;
      margin-right:auto;
      margin-bottom: auto;

   }
   }
 
   .sitems:hover
   {
     transform:scale(1.1);
	 box-shadow: 0 20px 26px 0 rgba(0,0,0,.2),0 16px 30px 0 rgba(0,0,0,.19);
   }


.sitems img
{
	width:60px;
    position: relative;
    top:-20px;

}
a
{
	text-decoration: none;
	color:black;
}

a:hover
{

	color:black;
}

@media screen and (max-width:770px)
{
	.box 
	{
        text-align: center;
	}
}










 